@import "@semoss/ui/globals.css";
@import "@semoss/shared/globals.css";

@source "./**/*.{ts,tsx}";
@source "../../../libs/shared/src/**/*.{ts,tsx}";

html,
body,
#root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
